/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* REGOLE GENERALI */

.container-full{
    width: 100%;
}

.container{
    width: 1250px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* DEBUG */

.debug .main-header{
    /* height: 100px; */
    border-bottom: 3px solid black;
}

.debug .col{
    border: 2px solid black;
    /* padding: 10px; */
}

/* HEADER */

.row.between{
    justify-content: space-between;
    padding: 35px 30px;
}

.list-nav.row{
    align-items: center;
    height: 100%;
}

.list-nav.row > li{
    padding: 0 16px;
    /* line-height: 32px; */
}

.list-nav.row > a{
    line-height: 32px;
}

li.item-nav.logo{
    padding-left: 0;
}

li.item-nav.start{
    background-color: blue;
    color: white;
    height: 100%;
    padding-top: 6px;
}

/* Al primo item della lista tolgo il padding laterale sinistro 
.list-nav.row li:first-child{
    padding-left: 0;
}*/

/* All'ultimo item della lista tolgo il padding laterale destro
.list-nav.row li:last-child{
    padding-right: 0;
}*/

